pipeline/pl_switchmain2.json
{
	"name": "pl_switchmain2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[randomnumbergenerator]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_asqldb_randomnumbergen1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Lookup1').output.firstRow.adfaction\n",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "wait for 1minute",
							"activities": [
								{
									"name": "wait for 1minute",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 60
									}
								}
							]
						},
						{
							"value": "wait for 2minutes",
							"activities": [
								{
									"name": "wait for 2minutes",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 120
									}
								}
							]
						},
						{
							"value": "wait for 3minutes",
							"activities": [
								{
									"name": "wait for 3minutes",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 180
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}